/* Base Application Styles */
body {
}

@import url("http://fonts.googleapis.com/css?family=Lato:100");
/*basic reset*/
* {margin: 0; padding: 0;}
/*make the body occupy full height*/
html, body {height: 100%;}

.hexColour {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hex {
  margin: 60px auto 0;
  width: 300px;
  color: white;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
}

.time {
  display: inline-block;
  margin-top: 10px;
  font-size: 64px;
}
